<style>
  .navbar {
    background-color: #5a189a;
  }
  .bttn {
    font-weight: bold;
    background-color: #7b2cbf;
    color: #fff;
    border: 0px solid;
  }

  .bttn:hover {
    background-color: #9d4edd;
    color: #10002b;
  }
</style>
<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container">
      <h1 class="navbar-brand text-white text-uppercase">TeamCMS</h1>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="row ml-lg-auto justify-content-center">

          <a class="bttn btn btn-default m-1" href='/'>Home</a>
          {{#if user.isAdmin}}
          <a class="bttn btn btn-default m-1" href='/admin/'>Admin</a>
          {{/if}}
          <a class="bttn btn btn-default m-1" href='/admin/posts/myposts/'>My Posts</a>
          <a class="bttn btn btn-default m-1" href='/admin/posts/create'>Create Post</a>
          <a class="bttn btn btn-default m-1" href='/admin/categories/reqCategory'>Category</a>
          <a class="bttn btn btn-default m-1" href='/admin/comments/mycomments'>My Comments</a>
          {{#if user}}
          <a class="bttn btn btn-default m-1" href='/admin/profile'>Edit Profile</a>
          <a class="bttn btn btn-default m-1" href='/logout'>Logout</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</header>