<style>
  .navbar {
    background-color: #5a189a;
  }
  .bttn, .btn2 {
    font-weight: bold;
    background-color: #7b2cbf;
    color: #fff;
    border: 0px solid;
  }
  .bttn:hover, .btn2:hover {
    background: #9d4edd;
    color: #10002b;
  }
</style>
<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container">
      <h1 class="navbar-brand text-white text-uppercase">TeamCMS</h1>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="row ml-lg-auto justify-content-center">

          <a class="bttn btn btn-default m-1" href='/'>Home</a>
          <a class="bttn btn btn-default m-1" href='/admin/'>Dashboard</a>
          <a class="bttn btn btn-default m-1" href='/admin/categories/'>Categories</a>
          <a class="bttn btn btn-default m-1" href='/admin/categories/pending'>Pending Categories</a>
          <a class="bttn btn btn-default m-1" href='/admin/posts/'>Posts</a>
          <a class="bttn btn btn-default m-1" href='/admin/users/'>Users</a>
          < <a class="bttn btn btn-default m-1" data-toggle="modal" data-target="#exampleModalCenter">Logout</a>

          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to Log out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="/logout">
            <button type="submit" class="btn2 btn btn-default">Log Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>