<style>
  .myfooter {
    background-color: #5a189a;
  }
</style>
<footer class="myfooter py-4 text-white-50" style="flex-shrink:none;">
  <div class="container text-center text-white">
    <b>Copyright &copy; Website 2021</b>
  </div>
</footer>