<style>
#data-holder{
  margin: auto;
  width: 60%;
}
  #noData {
    opacity: .8;
    
  }
@media only screen and (max-width: 480px) {
    #noData {
      margin: auto;
      width: 200px;
      height: 250px;
    }
  }
</style>
<div id="data-holder">
<img src="/src/nodata.png" id="noData" alt="No Data Found">
</div>