body {
  background-image: url('../src/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a:active,a {
  color: white;
}
section {
  height: 100%;
  width: 100%;
  padding: 3px;
}