body {
  background-image: url('../src/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#searchBox,#categoryBox {
  background: transparent;
  border: none;
}
#categoryHead {
  text-align: center;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}
#categoryBox {
  background: white;
  opacity: .8;
}
a {
  color: black;
  font-weight: bold;
}

#widgets {
  margin: auto;
  width: 75%;
}
#headings {
  text-align: center;
  color: white;
}

#postImage {
  width: 90%;
  height: 450px;
  padding: 5px;
}
#cardTitle {
  font-size: 20px;
  font-weight: bold;
}

#postCard {
  background: white;
  opacity: .95;
}

#readMore {
  background-color: #7b2cbf;
}
#readMore:hover {
  background-color: #9d4edd;
}

.input-group input {
  border: 1px solid #7b2cbf !important;
  border-right: none !important;
  border-radius: 5px 0 0 5px !important;
}
.input-group button {
  border: 1px solid #7b2cbf !important;
  border-radius: 0 5px 5px 0 !important;
  background: white;
  border-left: none !important;
  color: #7b2cbf;
}
@media only screen and (max-width: 480px) {
  #postImage {
    height: 300px;
  }
  #widgets {
    width: 100%;
  }
  #categoryBox {
    background: white;
    opacity: .8;
  }
}