body {
  background-image: url('../src/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#searchBox,#categoryBox {
  background: transparent;
  width: 75%;
}
#categoryHead {
  text-align: center;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}
#categoryBox {
  background: white;
  opacity: .8;
}
a {
  color: black;
  font-weight: bold;
}

#postImage {
  width: 90%;
  height: 450px;
  padding: 5px;
}
#cardTitle {
  font-size: 20px;
  font-weight: bold;
}

#postCard {
  background: white;
  opacity: .95;
}

#searchBox input ,#searchBox button {
  border-radius: 10px;
}
#readMore {
  background-color: #7b2cbf;
}
#readMore:hover {
  background-color: #9d4edd;
}

#searchBox input {
  border-right: none;
}
#searchBox button {
  background-color: #9d4edd;
  border-left: 0px;
}

@media only screen and (max-width: 480px) {
  #postImage {
    height: 300px;
  }
  #searchBox,#categoryBox {
    background: transparent;
  }
  #categoryBox {
    background: white;
    opacity: .8;
  }
}