<html>
{{>links}}
<link rel="stylesheet" href="/css/inputStyle.css">
<body>

  <div id="wrap">
    {{>header}}
    {{>msgs}}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">RESET PASSWORD</h5>
              <form class="form-signin" action="/reset" method='post'>
                <div class="form-label-group">
                  <input type="number" autocomplete="off" name="token" id="uniqueToken" limited='on' class="form-control" placeholder="Unique Token" oninput="restrict()" required>
                  <label for="uniqueToken">Unique Token</label>
                </div>
                <hr>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" toshow='on' placeholder="Password" name="password" required>
                  <label for="inputPassword">New Password</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputConfirmPassword" class="form-control" toshow='on' placeholder="Password" name="cpassword" required>
                  <label for="inputConfirmPassword">Confirm password</label>
                </div>

                <div class="custom-control custom-switch mb-3">
                  <input type="checkbox" class="custom-control-input" picker="trigger" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Show Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  {{>footer}}
</body>
</html>