<html>
{{>links}}
<link rel="stylesheet" href="/css/inputStyle.css">
<body>
  <div id="wrap">
    {{>header}}
    {{>msgs}}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">VERIFY ACCOUNT</h5>
              <form class="form-signin" action="/verify" method='post'>



                <div class="form-label-group">
                  <input type="number" autocomplete="off" name="otp" id="uniqueOtp" limited='on' class="form-control" placeholder="OTP" oninput="restrict()" required>
                  <label for="uniqueOtp">OTP</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">VERIFY</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>